img {
  max-width: 100%;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

.banner-sec {
  background: url(http://lorempixel.com/1920/1080/nature/3/) center no-repeat;
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-sec .banner-search {
  max-width: 600px;
  margin: auto;
}

main {
  padding: 40px 0;
}

.card-img-top {
  max-width: 50px;
  margin-bottom: 15px;
}

.card {
  margin: 0 auto 30px;
}
.card .card-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.card .card-body ul li {
  display: inline-block;
  margin-right: 10px;
}
.card .card-body ul li:last-child {
  margin-right: 0;
}